{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Form - {{block.super}}{% endblock %}
{% block body %}
    <div class="container ">
        <div class="form-row shadow">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mx-auto text-left text-light form p-4 ">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 >{{ title }}</h3>
                    {{ form|crispy }}
                    
                    <input class="form-control  btn-primary"  type="submit" value="{{ title }}">
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}