{% extends 'accounts/myaccount.html' %}
{% block body %}
    {% for post in posts %}
        <div class="container">
            <div class="row my-5  bg-info text-light shadow">
                {% if post.image %}
                    <div class="col-md-6" style="background-image: url({{ post.image.url}}); background-size: cover; background-position: center center; opacity: 1; min-height:400px;"></div>
                {% else %}    
                    <div class="col-md-6" style="background-image: url(https://source.unsplash.com/user/a_myth); background-size: cover; background-position: center center; opacity: 1; min-height:400px;"></div>
                {% endif %}
                <div class="col-md-6 align-self-center p-4 ">
                    <h5><small>Yazar: <a class="text-danger" href="{% url 'accounts:user_profile' username=post.user%}">{{post.user}}</a> | {{ post.pub_date|timesince }} önce</small> </h5>
                    <h3 class="font-weight-light text-warning">{{ post.title }}  </h3>
                    <p>{{ post.content|safe|linebreaks|truncatechars_html:250 }}</p>
                    <div class="d-flex justify-content-around">

                        <a href="{{ post.get_absolute_url }}" class="btn btn-success btn-sm">Daha Fazlası İçin</a>
                        <span class="text-center progress-bar-striped bg-primary text-white"><small><i class="p-2">#{{ post.category }}</i></small></span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}